body{
    padding: 0;
    margin: 0;
}
.overall{
    background-image: url("image/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.image1{
     margin-top: 33vh;
}
.asset{
    margin-top: 155px;
    margin-bottom: 20px;
}
.article3{
    position: relative;
    text-align: center;
    color: rgb(10, 10, 10);
}
.centered{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}