body{
    padding: 0;
    margin: 0;
}
.overall{
    background-image: url("image/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.image1{
     margin-top: 33vh;
}
.asset{
    margin-top: 155px;
    margin-bottom: 20px;
}
.article3{
    position: relative;
    text-align: center;
    color: rgb(10, 10, 10);
}
.centered{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.article1{
    position: relative;
    text-align: center;
    color: rgb(231, 226, 226)
}
.center{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.column {
    float: left;
    width: 33.33%;
    padding: 0 4px;
    /* flex: 50%; */
    margin-top: 8px;
    vertical-align: middle;
}
.row{
    content: "";
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.article7{
    position: relative;
    text-align: center;
    color: rgb(231, 226, 226)
}
.description{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.strong{
    font-weight: 700;
    font-size: larger;
    font-display: bold;
    color: black;
}
#products{
    display: none;
}